<footer>
  We are looking into the amount of plastic waste produced globally and by specific countries as well as how that waste is disposed. For more information, check out our
  <a href="https://ourworldindata.org/plastic-pollution#total-plastic-waste-by-country">data. </a>
</footer>
