<footer>
  We are looking into the amount of plastic waste produced by certain countries and how that waste is disposed.
  <br>
  <a href="https://ourworldindata.org/plastic-pollution#total-plastic-waste-by-country">Data</a>
</footer>
