<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>About</title>
  <meta name="author" content="Erin + Samara">
  <meta name="description" content="Global plastic waste infographic">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
    <%- include ('global/navbar.ejs'); %>
    <%- include ('global/header');  %>
  <header>
    <h1>Global Plastic Waste</h1>

    <section id="definitions">
      <h2>Definitions:</h2>
      <ul>
        <li>Global plastic waste: the amount of plastic waste generated globally.</li>
        <li>Inadequately managed waste: waste that is not formally managed, i.e disposed in dumps or open, uncontrolled landfills, where it is not fully contained. Inadequately managed waste has high risk of polluting rivers and oceans. This does not include ‘littered’ plastic waste, which is approximately 2% of total waste (including high-income countries).</li>
        <li>Mismanaged waste: material that is either littered or inadequately disposed (the sum of littered and inadequately disposed waste). </li>
    </section>

    <section id = "ErinWireframeEvaluations">
      <h2>Erin's Wireframe Sketch:</h2>
      <img src="ErinMacro.jpg" alt="Erin Macrosummary" width="500" height="400" />
      <img src="ErinMicro.jpg" alt="Erin Microsummary" width="400" height="400"/>
      <br>
      <h3>Evaluation: </h3>
      <h4>Achievability:</h4>
      <ul>
        <li>This wireframe seems pretty achievabile. While it sets a plan that engages meaninfully with the data, it doesn't overcomplicate things.</li>
      </ul>
      <h4>Understandability:</h4>
      <ul>
        <li>Modeling: the model is accurate and the color coded scale allows readers to develop a conceptual model of the system. On the down side, the microsummary does not include enough information for the reader to develop a conceptual understanding of the system- while the map is there, it doesn't serve any real purpose in the microsummary. Maybe the microsummary shouldn't include a map at all. Perhpas something like a bar chart or pie chart would be more effective in conveying information than the bullet points and country map sketched out here. </li>
        <li>Accuracy: while the macrosummary model is accurate because the map is to scale and the data is correct, it doesn't include a lot of information.</li>
        <li>Visibility: not every country is color coded or highlighted on the macrosummary map, which means that important elements of the system are excluded from the design.</li>
        <li>Consistency + simplicity: though the macrosummary might have benfitted from more signifiers, the infographic is simple to interact with regardless of skill level or knowledge of the system.</li>
      </ul>
        <h4>Usability:</h4>
      <ul>
        <li>Flexibility: our infographic doesn't cater to a variety of individual preferences and abilities nor does the level of interaction with the infographic vary based on user experience.</li>
        <li>Ease: both the macrosummary and microsummary pages can be navigated with relative ease.</li>
      </ul>
      <h4>Discoverability:</h4>
      <ul>
        <li>Affordances + signifiers: though there are several affordances within the infographic, they aren't very well signified in either the macro or microsummary pages.</li>
        <li>Constraints: the constraints are clear because one wouldn't be able to interact with the infographic in an unwanted way because of the layout of the map.</li>
        <li>Mapping: the mapping needs a lot of work! For example, how are the macrosummary and microsummary connected within the system?</li>
      </ul>
    </section>

    <section id = "SamaraWireframeEvaluations">
      <h2>Samara's Wireframe Sketch:</h2>
      <img src="SamaraMacro.png" alt="Samara Macrosummary" width="500" height="400" />
      <img src="SamaraMicro.png" alt="Samara Microsummary" width="400" height="400"/>
      <br>
      <h3>Evaluation: </h3>
      <h4>Achievability:</h4>
      <ul>
        <li>This wireframe is also pretty acheivable for the macro page. Both Erin and I agreed on having a map and when the user hovers over the country it will display how much plastic that country produces.</li>
      </ul>
      <h4>Understandability:</h4>
      <ul>
        <li>Modeling: As per the Macro page I think the scale will help the user know what countries produce more plastic. For Micro pages we have concluded that just having a map of the country does not serve any purpose because we are not looking at any specific regions. We are leaning towards representing our data with bar graphs and pie charts instead.</li>
        <li>Accuracy: while the macrosummary model is accurate because the map is to scale and the data is correct, it doesn't include a lot of information.</li>
        <li>Visibility: not every country is color coded or highlighted on the macrosummary map, which means that important elements of the system are excluded from the design.</li>
        <li>Consistency + Simplicity: though the macrosummary might have benfitted from more signifiers, the infographic is simple to interact with regardless of skill level or knowledge of the system.</li>
      </ul>
        <h4>Usability:</h4>
      <ul>
        <li>Flexibility: our infographic doesn't cater to a variety of individual preferences and abilities nor does the level of interaction with the infographic vary based on user experience.</li>
        <li>Ease: both the macrosummary and microsummary pages can be navigated with relative ease.</li>
      </ul>
      <h4>Discoverability:</h4>
      <ul>
        <li>Affordances + signifiers: there are many affordances within the infographic. For example, the dropdown bar for the micropages has a small downward arrow so the user knows that they can click on it. As for the hovering over the map for information there is currently no signifier.</li>
        <li>Constraints: the constraints are clear because one wouldn't be able to interact with the infographic in an unwanted way because of the layout of the map.</li>
        <li>Mapping: We are definately going to need to figure out how to accurately map the world and then hover over it. The other "problem" is how are the macro and micro pages connected.</li>
      </ul>
    </section>

    <section id = "Conclusion MicroPage">
      <h2>Micro Conclusion:</h2>
      <img src="MicroFinal.png" alt="MicroFinal" width="500" height="400" />
      <br>
      <ln>We have agreed not to change the macropage by much(since we both came up with similar ideas) but we agreed to change the micro pages.</ln>
      <br>
      <h3>Evaluation: </h3>
      <h4>Achievability:</h4>
      <ul>
        <li>This can be pretty acheivable. Once we figure out how to do one page it will not be so difficult to produce the others. It is more work though since we are now doing 3 types of graphs.</li>
      </ul>
      <h4>Understandability:</h4>
      <ul>
        <li>Modeling: We think that this is a much better way of representing our data because it visually shows each aspect of what we want to display.</li>
        <li>Accuracy: this is not an accurate depiction of what it will finally look like but it is a sketch of our final idea. </li>
        <li>Visibility: Eventually, the pie charts and the bar graph will be color coded. For the bar graph it can be darker for the higher plastic waste per person and for the pie graphs and the countries portion will be highlighted.</li>
        <li>Consistency + Simplicity: This is pretty simple and this will be displayed on all of the micropages.</li>
      </ul>
        <h4>Usability:</h4>
      <ul>
        <li>Flexibility: our infographic doesn't cater to a variety of individual preferences and abilities nor does the level of interaction with the infographic vary based on user experience.</li>
        <li>Ease: can be navigated with relative ease.</li>
      </ul>
      <h4>Discoverability:</h4>
      <ul>
        <li>Affordances + signifiers: Again there is the down arrow at the top so the user knows they can switch the page. There not many other affordances other than that.</li>
        <li>Constraints: The user cannot toggle the pie charts or the bar graph in an undesirable way</li>
        <li>Mapping: Similar to earlier, we are going to need to learn how to correctly display pie charts and bar graphs and discover how the macro and micro pages are interconnected.</li>
      </ul>
    </section>


    <section id = "Division of Labor">
      <h2>Division of Labor</h2>
      <ul>
        <li>While we will work on the data processing together, Erin will focus on the macrosummary while Samara will focus on the microsummary pages.
      </ul>
    </section>

    <section id = "lucidChart">
      <h2>Project Pipeline Flowchart</h2>
      <div style="width: 640px; height: 480px; margin: 10px; position: relative;"><iframe allowfullscreen frameborder="0" style="width:640px; height:480px" src="https://lucid.app/documents/embeddedchart/1031b839-5f07-4563-9457-0a8fdc978dca" id="MlDzTiOEe1W4"></iframe></div>
    </section>

    <%- include ('global/footer');  %>
</body>

</html>
